<%- include Gary/header.ejs %>
<%- include Gary/Top-nav.ejs %>
<link rel="stylesheet" href="/stylesheets/style.css">
<main class="containner">
<h1> <%=title %></h1>

<p>Welcome to <%= title %> </p>
</main>

<%- include Gary/bottom_nav.ejs %>

<%- include Gary/content.ejs %>

<%- include Gary/footer.ejs %>



